<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>New RSS Published</title>
    <style>
      html {
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }
    </style>
  </head>
  <body>
    <h1>Hi there!</h1>
    <p>Here are some fresh RSS just dropped!</p>
    <ul>
      {0}
    </ul>
    <a href="__unsubscribe_url__">unsubscribe</a>
  </body>
</html>
