DB_CONNECTION_STRING=Userid=<YOUR USERID>;Password=<YOUR PASSWORD>;Host=<YOUR HOST>;Port=<YOUR PORT>;Database=<YOUR DATABASE>;Pooling=true;MinPoolSize=0;MaxPoolSize=100;ConnectionLifetime=0;
PORT=8080
ASPNETCORE_URLS=http://[::]:8080