source https://api.nuget.org/v3/index.json

storage: none
nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Elmish.React
nuget Fable.Elmish.UrlParser
nuget Fable.Remoting.Client
nuget Fable.Remoting.Giraffe
nuget Feliz
nuget Feliz.DaisyUI
nuget Npgsql.FSharp
nuget Saturn
nuget System.ServiceModel.Syndication